#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=New Sheet
Exec=/opt/google/chrome/google-chrome --app=https://sheet.new
Icon=chrome-albjknpbljlpmmpfjicdohagjcifagdi-Default
